/* positioning signup container  and user inputs of sign in form*/
#signup-container {
  margin-top: 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
/*  */
#inputEmail {
  margin-bottom: 5px;
}

#inputPassword {
  margin-bottom: 5px;
}

.form-signin {
  margin-top: 100px;
}
/* positioning of background video */
.videezyStyling {
  position: absolute;
  right: 10px;
}
/* position h1 */
.text-center > h1 {
  font-size: 72px;
}
/* future styling */
.politi {
  color: #d4002e;
}
/* future styling */
.candid {
  color: #11319b;
}
/* styling sign up button */
.signupBtn {
  background: rgb(255, 66, 66);
  color: white;
}
/* position of sign up container*/
.signup-container {
  display: flex;
  flex-direction: column;
}
/* style button */
btn-primary {
  border-color: none;
}
@media only screen and (max-width: 280px) {
  .signupBtn, #inputEmail, #inputPassword   {
  
    
    margin-left: 15px;
   
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 281px) {
  .signupBtn, #inputEmail, #inputPassword   {
  
    
    margin-left: 40px;
   
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 375px) {
  .signupBtn, #inputEmail, #inputPassword {

    
    margin-left: 68px;
  
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 420px) {
  .signupBtn, #inputEmail, #inputPassword   {

    
    margin-left: 100px;
  
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 688px) {
  .signupBtn, #inputEmail, #inputPassword   {
      width: 300px;
      height: auto;
      
      margin-left: 100px;
   

  }
}
@media only screen and (min-width: 992px) {
  .signupBtn, #inputEmail, #inputPassword   {
      width: 400px;
      height: auto;
      
      margin-left: 100px;
  

  }
}
@media only screen and (min-width: 1312px) {
  .signupBtn, #inputEmail, #inputPassword   {
      width: 500px;
      height: auto;
      
      margin-left: auto;
    

  }
}