.match-row {
  background: white;
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 1200px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
  box-shadow: 1px 1px lightgray;
}

.match-row:hover {
  color: white;
  background: blue;
}

.match-name {
  display: inline-block;
  width: 200px;
  font-weight: bolder;
}

.match-candidate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 800px;
}

.match-candidate p {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  width: 200px;
}

.match-score {
  margin-left: 10px;
  margin-right: 30px;
  width: 130px;
}
