#big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.match-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  border: 1px solid black;
  background: grey;
  padding: 10px;
}

.match-row p {
  margin: 0px;
}
