#page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding-top: 10px; */
  width: 100%;
  min-height: 100vh;
  background: url(../../components/images/marble.jpg);
  padding-bottom: 60px;
}

.matches-container {
  padding-top: 15px;

  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  /* background: rgb(255, 106, 106); */
  background: white;
}

@media only screen and (max-width: 600px) {
  .matches-container {
    padding: 5px;
  }
}

.matches-container h2 {
  color: black;
}

.matches-container {
  margin: 10px;
}

#big-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
}

@media only screen and (max-width: 1200px) {
  #big-container {
    flex-direction: column;
  }
}

.list-container {
  max-height: 300px;
  border-radius: 5px;
  padding: 20px;
  overflow-y: scroll;
  /* background: rgb(255, 106, 106); */
  background: white;
}

#profile-info-block {
  background: white;
  color: rgb(52, 52, 198);
}

#profile-campaign-block {
  background: white;
  color: rgb(52, 52, 198);
}

.tab-container {
  background: white;
  color: rgb(52, 52, 198);
}
