/* position voter info area */
#location-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

#location-block h4 {
  margin: 20px;
}
/* position username */
#user-name {
  margin-bottom: 0px;
  text-align: center;
}
/* style campaign button */
#campaign-button {
  width: 200px;
  background-color: #D4002E;
  color: white;
  border: none;
  border-radius: 5px;
}
/* style hover over button */
#campaign-button:hover {
  background: #11319B;
}
/* style voter button */
#voter-button {
  width: 150px;
  background: #46C700;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
  box-shadow:  1px 3px #0a0035;
}
/* position campaign area */
#campaign-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 280px) {
  #user-name, #location-block  {
  
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 320px) {
  #user-name, #location-block   {
  
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 688px) {
  #user-name, #location-block {

    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 768px) {
  #user-name, #location-block   {

    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 960px) {
  #user-name, #location-block   {
      width: 300px;
      height: auto;
      
      margin-left: auto;
    margin-right: auto;
   

  }
}
@media only screen and (min-width: 1280px) {
  #user-name, #location-block   {
      width: 400px;
      height: auto;
      
      margin-left: auto;
    margin-right: auto;
  

  }
}
@media only screen and (min-width: 1920px) {
  #user-name, #location-block   {
    
    width: 500px;
      height: auto;
      
      margin-left: auto;
      margin-right: auto;
    

  }
}