.follow-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 5px;
  background: gainsboro;
  border-radius: 5px;
}

.follow-row:hover {
  background: rgb(189, 189, 189);
}

.unfollow-button {
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.unfollow-button:hover {
  color: white;
  background: rgb(108, 108, 247);
}

.follow-button {
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.follow-button:hover {
  color: white;
  background: rgb(108, 108, 247);
}
.MuiPaper-root, .MuiCard-root, .MuiCardContent-root {
  background: rgb(245, 241, 241);
}