/* position of login container */
#login-container {
  margin-top: 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#inputEmail {
  margin-bottom: 5px;
}

#inputPassword {
  margin-bottom: 5px;
}

.form-signin {
  margin-top: 100px;
}
/* position of background video */
.videezyStyling {
  position: absolute;
  right: 10px;
}

.text-center > h1 {
  font-size: 72px;
}
/* future development styling */
.politi {
  color: #d4002e;
}

.candid {
  color: #11319b;
}
/* button styling  */
.custom-btn {
  background: rgb(255, 66, 66);
  color: white;
  /* border: 1px solid rgb(66, 66, 255); */
  border-color: none;
}
/* button hover style */
.custom-btn:hover {
  background: rgb(66, 66, 255);
  color: white;
}
/* animation positioning */
#animation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* position login content */
#loginId {
   justify-content: center;
}
@media only screen and (max-width: 280px) {
  .signupBtn, #inputEmail, .custom-btn   {
  
    
    margin-left: 15px;
   
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 281px) {
  .signupBtn, #inputEmail, .custom-btn   {
  
    
    margin-left: 40px;
   
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 375px) {
  .signupBtn, #inputEmail, .custom-btn {

    
    margin-left: 68px;
  
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 420px) {
  .signupBtn, #inputEmail, .custom-btn   {

    
    margin-left: 100px;
  
    width: 50%;
    height: auto;
    

  }
}
@media only screen and (min-width: 688px) {
  .signupBtn, #inputEmail, .custom-btn   {
      width: 300px;
      height: auto;
      
      margin-left: 100px;
   

  }
}
@media only screen and (min-width: 992px) {
  .signupBtn, #inputEmail, .custom-btn   {
      width: 400px;
      height: auto;
      
      margin-left: 100px;
  

  }
}
@media only screen and (min-width: 1312px) {
  .signupBtn, #inputEmail, .custom-btn   {
      width: 500px;
      height: auto;
      
      margin-left: auto;
    

  }
}