#login-container {
  margin-top: 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#inputEmail {
  margin-bottom: 5px;
}

#inputPassword {
  margin-bottom: 5px;
}

.form-signin {
  margin-top: 100px;
}

.videezyStyling {
  position: absolute;
  right: 10px;
}

.text-center > h1 {
  font-size: 72px;
}

.politi {
  color: #d4002e;
}

.candid {
  color: #11319b;
}

.custom-btn {
  background: rgb(255, 66, 66);
  color: white;
  border: 1px solid rgb(66, 66, 255);
}

#animation {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#loginId {
  margin-top:50px;
  justify-content: center;
  padding-top: 100px;
  padding-right: 
}
