/* position form */
#form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#location-block h4 {
  margin: 20px;
}
/* position user name a */
#user-name {
  margin-bottom: 0px;
  text-align: center;
}
/* style form */
.outlined-basic {
  margin: 10px;
}
/* style button */
.update-info-button {
  border: 1px solid black;
  background: lightgrey;
  border-radius: 5px;
  color: blue;
  box-shadow:  1px 3px #411beb;
}
/* hover style button */
.update-info-button:hover {
  color: white;
  background: blue;
}
@media only screen and (min-width: 280px) {
  h3{
    font-size: 1em;
    text-align: center;
  }
  .MuiInputBase-input, .MuiInputBase-root {
    width: 200px!important;
  }
 }
 @media only screen and (min-width: 440px) {
   h3{
     font-size: 1.1em;
     text-align: left;
   }
   .MuiInputBase-input, .MuiInputBase-root  {
    width: 250px!important;
  }
 }
 @media only screen and (min-width: 520px) {
   h3{
     font-size: 1.1em;
     text-align: left;
   }
   .MuiInputBase-input, .MuiInputBase-root  {
     width: 290px!important;
   }
 }
 @media only screen and (min-width: 680px) {
   h3{
     font-size: 1.2em;
     text-align: left;
   }
   .MuiInputBase-input, .MuiInputBase-root  {
    width: 300px!important;
  }
 }
 @media only screen and (min-width: 768px) {
   h3{
     font-size: 1.3em;
     text-align: left;
   }
 }
 @media only screen and (min-width: 992px) {
   h3{
     font-size: 1.4em;
     text-align: left;
   }
 }
 @media only screen and (min-width: 1280px) {
   h3{
     font-size: 1.5em;
     text-align: left;
   }
 }