/* css styling for profile match  */
#profile-block {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/* positioning for profile info */
#profile-info-row {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

/* styling for profile page */
#matches-profile-page {
  /* border: 1px solid black; */
  background: white;
  color: black;
  margin: 10px;
  overflow-y: hidden;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* styling for match profile area */
#match-profile {
  background: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#profile-block p {
  margin-bottom: 5px;
}

/* styling campaign area */
#profile-campaign-block {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px black;
}

#profile-info-block {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px black;
}

#profile-issues-row {
  width: 350px;
  margin: 0px;
  padding-top: 10px;
}

#profile-issue-block {
  margin: 10px;
  margin-left: 30px;
  height: 400px;
  overflow-y: scroll;
  width: 325px;
}

h5 {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  #match-profile {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  #profile-campaign-block {
    padding: 5px;
    margin: 5px;
  }

  #profile-info-block {
    padding: 5px;
    margin: 5px;
  }
}
