/* css issue row placement, styling and media queries for different size screens */
.issue-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  /* border: 1px solid black; */
  width: 500px;
  padding: 20px;
  padding-bottom: 10px;
  background: rgb(238, 238, 238);
  border-radius: 5px;
  box-shadow: 2px 2px #b3b3b3;
}

@media only screen and (max-width: 768px) {
  /* .issue-row {
    width: 400px;
  } */
}

@media only screen and (min-width: 992px) {
  /* .issue-row {
    width: 600px;
  } */
}

.issue-row-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 470px;
}

.delete {
  justify-content: flex-end;
}

.issue-row-line p {
  margin-bottom: 0px;
  width: 130px;
}

.issue-name {
  width: 200px;
  margin: 0px;
  margin-left: 10px;
  color: rgb(87, 87, 87);
}

.delete-button {
  /* margin-left: 20px;
  margin-top: 10px; */
  border: none;
  color: red;
  font-weight: bolder;
}
