.issue-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  /* border: 1px solid black; */
  padding: 10px;
  background: rgb(238, 238, 238);
  border-radius: 5px;
  box-shadow: 2px 2px #b3b3b3;
}

.issue-name {
  width: 200px;
  margin: 0px;
  margin-left: 10px;
  color: rgb(87, 87, 87);
}
