.issue-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  /* border: 1px solid black; */
  padding: 10px;
  background: rgb(238, 238, 238);
  border-radius: 5px;
  box-shadow: 2px 2px #b3b3b3;
}

/* @media only screen and (max-width: 768px) {
  .issue-add {
    width: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .issue-add {
    width: 600px;
  }
} */

#add-button {
  /* margin-left: 400px; */
  border: 1px solid black;
  border-radius: 5px;
  background: rgb(238, 238, 238);
  color: blue;
}

#add-button:hover {
  color: white;
  background: blue;
}
