/* css styling navbar */
.text-custom {
  color: white!important;
  font-size: 18px;
  font-weight: 400;
}

.navbar-custom {
  background: rgb(65, 65, 255);
}

.navbar-toggler {
  color: white;
  /* background: white; */
}

.navbar-toggler {
  background: white;
}
