/* css styling navbar */
.text-custom {
  color: white;
}

.navbar-custom {
  background: rgb(65, 65, 255);
}

.navbar-toggler {
  color: white;
  /* background: white; */
}

.navbar-toggler {
  background: white;
}
