.card {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.cardGrid {
  padding-top: 8px;
  padding-bottom: 8px;
}

.cardMedia {
  height: 100px;
  width: 100px;
  /* padding-top: 56%; */
}

.searchBar {
  margin-bottom: 30px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
